body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  background-color: white;
  border-bottom: 1px solid #ddd;
}

header span {
  position: absolute;
  right: 15px;
  font-size: 30px;
}

header h1 {
  font-size: 40px;
  font-weight: bold;
}

.main-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px; /* Ensures the block remains centered vertically */
  margin-bottom: 10px;
}

.main-image {
  width: 100%; /* Makes it responsive */
  max-width: 400px; /* Limits max width for consistency */
  height: 400px; /* Fixed height for uniform display */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 10px;
  background-color: #ffffff; /* Light background for consistency */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.main-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image fills the container proportionally */
}

.actions {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin: 10px 0;
}

.actions img {
  cursor: pointer;
  width: 50px;
  height: 50px;
  transition: transform 0.3s ease;
}

.actions img:hover {
  transform: scale(1.1);
}

.suggested-items {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  margin: 20px;
  overflow-x: auto;
}

.suggested-items div {
  text-align: center;
  margin: 0 5px;
}

.suggested-items img {
  width: 110px;
  height: 110px;
  border-radius: 10px;
  object-fit: cover;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
