@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');


.title {
    font-family: 'Prata', serif;
  }
  .subtitle {
    font-family: 'Prata', serif;
  }
  .button {
    font-family: 'Prata', serif;
  }
  

.landing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: radial-gradient(
      43% 79% at 50% 50%, 
      #faf8eb 0%, 
      #dbd4df 43%, 
      #f0ebf0 79%
    ); 
    text-align: center;
    padding: 20px; 
  }
  
  
  
  .title {
    font-family: 'Prata', serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 48.78px; 
    letter-spacing: -1.5px; 
    color: #262626; 
    text-align: center;
    margin: 0;
  }
  
  
  .subtitle {
    font-family: 'Prata', serif; 
    font-size: 15px;
    font-weight: 400;
    line-height: 20.33px; 
    color: #717171; 
    text-align: center;
    margin-top: 10px;
  }
  
  
  
  .button-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .button {
    font-family: 'Prata', serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 27.1px; 
    letter-spacing: -1px; 
    color: #000;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 200px;
    margin: 10px auto; 
  }
  
  .button:hover {
    background-color: #f0f0f0;
    border-color: #aaa;
  }
  
  
  