.product-details-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 15px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: sticky; 
    top: 0;
    z-index: 1000; 
  }
  
  .product-details-header button {
    background: none;
    border: none;
    color: black;
    font-size: 28px;
    cursor: pointer;
  }
  
  .product-details-header h1 {
    font-family: 'Prata', serif;
    font-size: 23px;
    font-weight: 400;
    margin-left: 14px;
  }
  
  .product-details-header .spacer {
    flex-grow: 1;
  }  

  .product-details {
    background-color: #f7eaf7;
    padding: 40px;
    padding-top: 10px; 
  }
  
  .product-name {
    font-size: 28px;
    font-family: 'Prata', serif; 
    text-align: center; 
    margin-bottom: 15px; 
    color: #000;
}

  .product-image {
    display: block;
    margin: 0 auto;
    width: 60%;
    border-radius: 15px;
  }
  
  .product-description {
    font-family: 'Prata', serif; 
    text-align: center;
    margin-bottom: 18px;
    font-size: 17px;
    color: #494848;
  }

  .divider {
    height: 1px;
    background-color: #b1adad;
    margin: 20px 0; 
    width: 100%; 
}
  
.size-selection {
    text-align: center;
    font-family: 'Nexa', sans-serif;
    font-weight: 700;
    font-size: 18px; 
    line-height: 17px; 
    color: #000000; 
    margin-top: 13px;
    margin-bottom: 20px;
  }
  
.size-options {
    display: flex;
    justify-content: space-around;
    margin: 20px auto;
    max-width: 335px; 
  }
  
  .size-button {
    width: 60px; 
    height: 60px;
    border: 1px solid #000;
    border-radius: 8px;
    background-color: #fff; 
    color: #000; 
    font-family: 'Prata', serif; 
    font-size: 18px;
    text-align: center;
    line-height: 60px; 
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .size-button.active {
    background-color: #000;
    color: #fff;
  }
  
  .size-button:hover {
    background-color: #000;
    color: #fff;
  }


  .color-selection-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 15px; 
  }

  .section-title {
    text-align: center;
    font-family: 'Nexa', sans-serif;
    font-weight: 700;
    font-size: 18px; 
    line-height: 17px; 
    color: #000000; 
    margin-top: 20px;
  }
  
  .color-selection {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .color-option {
    display: flex;
    align-items: center;
    border: 1px solid #000000;
    padding: 10px;
    border-radius: 5px;
  }
  
  .color-circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px; 
  }
  
  .color-name {
    font-family: 'Prata', serif;
    font-size: 20px;
    line-height: 27px;
    color: #1b1a16;
  }

  .rating-section {
    text-align: center;
    margin-top: 28px;
  }
  
  .rating-section h3 {
    text-align: center;
    font-family: 'Nexa', sans-serif;
    font-weight: 700;
    font-size: 19px; 
    line-height: 17px; 
    color: #000000; 
    margin-top: 20px;
  }
  
  .rating-stars {
    display: flex;
    justify-content: center;
    gap: 5px;
  }
  
  .rating-stars .star {
    font-size: 20px;
    color: black;
  }
  
  .rating-stars .star.empty {
    color: #000000; /* For unfilled stars */
  }  
  
  
  .add-to-cart-button {
    background-color: #000;
    color: #fff; 
    font-size: 17px; 
    font-weight: 400;
    line-height: 22.13px;
    text-align: center;
    border: none;
    border-radius: 25px; 
    padding: 10px 20px;
    width: 80%; 
    margin: 20px auto;
    display: block; 
    cursor: pointer; 
    transition: background-color 0.3s ease;
    margin-top: 45px;
  }
  
  .add-to-cart-button:hover {
    background-color: #444;
  }
  
  